<!-- Password Modal -->
<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="passwordModal">Change Password</h4>
      </div>
      <form action="/profiles/<%= currentUser.username %>?_method=PUT" method="post">
        <div class="modal-body form-group">
          <label for="password">New Password</label>
          <input
          type="password"
          name="password"
          id="password"
          placeholder="password"
          class="form-control"
        />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>